header {
    // .navbar-expand-md {
    //     background: linear-gradient(0.25turn, $brand-c-1, #ebf8e1, #f69d3c);

    // }
    a {
        color: inherit;
    }
    .cats {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 800;
        margin-bottom: 3px;
        li {
            border-right: 1px solid whitesmoke;
            &:hover, &.active {
                background-color: crimson;
            }
        }
        &.adm {
            background-color: crimson;
            li:hover, li.active {
                background-color: $brand-c-2;
            }
        }
    }
    .banner {
        background-color: crimson;
        color: white;
        font-size: 1.1em;
        padding: .9em;
        font-weight: 600;
    }
}

// TOTEST:
.test {
    position: relative;
    height: 2em;
    overflow-x: hidden;
    padding: .3em;
    background-color: rgb(83, 82, 82);
    // background: linear-gradient(0.25turn, $brand-c-1, #ebf8e1, #f69d3c);
    width: 100%;
    border-bottom: 2px solid $brand-c-1;
    user-select: none;
    p {
        position: absolute;
        width: max-content;
        display: inline-block;
        color: white;
        .time {
            color: yellowgreen;
        }
        animation-name: rotate;
        animation-timing-function: linear;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    };
}

@keyframes rotate {
    0% {
        right: -50%;
    }

100% {
  right: 120%

} }